* {
  padding:0;
  margin:0;
}
body {
  font-family: helvetica, arial, sans-serif;
  background-color: #A9CEE8;
  color: #003A64; 
  font-size: 50px;
}
header {
  background-color: #003A64;
}

header::after {
  content: '';
  display: table;
  clear:both;
}
.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 80%;
  color: #A9CEE8;
  margin: 0 auto;

}

nav {
  float: left;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin-right: 70px;
  padding-top: 15px;
  padding-bottom: 25px;

  position: relative;
}

nav a {
  color:#A9CEE8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}

nav a:hover {
color: black;
}
nav a:before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: black;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
